@using AulaMVC03.Models
@model Contato
<div class="row">
    <div class="col-md-12">
        <h3>Contato</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form action="@Url.Action("Salvar","Contato")" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Nome, "Nome", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8">
                    @Html.LabelFor(m => m.Endereco, "Endereco", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Endereco, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Telefone, "Telefone", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Mensagem, "Mensagem", new { @class = "control-label" })
                    @Html.TextAreaFor(m => m.Mensagem, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <button type="button" class="btn btn-default">cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>
