@using MLM.Models;
@model Motor
<div class="row">
    <div class="col-md-12">
        <h3>Motor</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form action="@Url.Action("Salvar","Motor")" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-8">
                    @Html.LabelFor(m => m.Transmissao, "Transmissão:", new { @class = "control_label" })
                    @Html.TextBoxFor(m => m.Transmissao, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8">
                    <div class="col-md-8">
                        @Html.LabelFor(m => m.Nome, "Nome:", new { @class = "control_label" })
                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-8">
                    <div class="col-md-8">
                        @Html.LabelFor(m => m.Potencia, "Potencia:", new { @class = "control_label" })
                        @Html.TextBoxFor(m => m.Potencia, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Preco, "Preço:", new { @class = "control_label" })
                    @Html.TextBoxFor(m => m.Preco, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <button type="button" class="btn btn-default">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>

